<!DOCTYPE html>
<html>
  <head>
    <script src="vue.js"></script>
    <script src="Sortable.js"></script>
    <script src="vuedraggable.js"></script>
    <script src="vue-context-menu.js"></script>
    <script>
      // install globally as <context-menu> </context-menu>
      Vue.use(VueContextMenu);
    </script>

    
  </head>
  <body>
    <style>
      table { outline: solid red 1px; box-sizing: border-box; width: 100%; table-layout: fixed; border-colapse: collapse }
      table td { outline: solid red 1px }
    </style>
    <div id="presenter">
      <context-menu ref="ctx"
	@ctx-open="onCtxOpen"
	@ctx-cancel="resetCtxLocals"
	@ctx-close="onCtxClose">
        <li class="ctx-header"
	    v-if="contextMenuData.index != editing"
	    @click="editing = contextMenuData.index">
	  Edit
	</li>
        <li class="ctx-header"
	    v-if="contextMenuData.index != displaying"
	    @click="displaying = contextMenuData.index">
	  Display
	</li>
        <li class="ctx-header"
	    @click="duplicateSlide(contextMenuData.index)">
	  Duplicate this slide
	</li>
        <li class="ctx-header"
	    @click="insertNewSlide(contextMenuData.index)">
	  Insert new slide before this one
	</li>
        <li class="ctx-header"
	    @click="insertNewSlide(contextMenuData.index+1)">
	  Append new slide after this one
	</li>
        <li class="ctx-header" v-if="history.length > 1"
	    @click="confirm('Really delete?') && deleteSlide(contextMenuData.index)">
	  Delete
	</li>
      </context-menu>
      
      <draggable v-model="history" :move="reorderHistory"
		 element="div" id="navigation">
	<div v-for="(item, index) in history" :key="item.id"
	     v-bind:style="historyItemStyleWrapper(index)"
	     v-on:click="clickHistory(index)"
	     v-on:dblclick="dblclickHistory(index)"
	     @contextmenu.prevent="$refs.ctx.open($event, {item: item, index: index})">
	  <div v-bind:style="historyItemStyle(index)" >
	    <div v-bind:style="slideStyle(index)"
		 v-html="item.html"></div>
	  </div>
	</div>
    </draggable>
      <table>
	<tr>
	  <th>Edit HTML <label> {{editing}} <br> <input type="range" min="0" :max="history.length-1" v-model="editing"></label>
	  </th>
	  <th>Edit Rendered <label> {{editing}} <br> <input type="range" min="0" :max="history.length-1" v-model="editing"></label>
	  </th>
	  <th>Displaying
	    <label> {{displaying}} <br> <input type="range" min="0" :max="history.length-1" v-model="displaying"></label>
	  </th>
	</tr>
	<tr><td>
	    <input id="myFile" type="file" onchange="loadFile()"/>
	    
	    <textarea id="content"
		      style="display:block; box-sizing: border-box; width:100%"
		      v-model="history[editing].html"
		      placeholder="Put text here.">
	    </textArea>
	    
	    <button v-on:click="updateDisplay">Update Display</button>
	    <br>
	    <label>historyItemZoom
	      <span id="historyItemZoom">
		{{ Math.round(historyItemZoom * 100) }}%</span>
	      <input id="historyItemZoomInput" type="range"
		     min=".01" max="1" step=".01"
		     v-model="historyItemZoom">
	    </label>
	    <br>
	    <label>scale
	      <span id="previewScaleText">{{previewZoom}}%</span>
	      <input id="previewScale" type="range" min="1" max="100" step="1"
		     v-model="previewZoom">
	    </label>
	    <br>
	    <label>fontSize
	      <span id="fontSize">{{history[editing].fontSize}} em</span>
	      <input type="range" min="1" max="10" step=".1" value="1" v-model="history[editing].fontSize">
	    </label>
	    <br>
	    <label>padding
	      <span id="padding">{{history[editing].padding}} px</span>
	      <input type="range" min="0" max="100" step="1" v-model="history[editing].padding">
	    </label>
	    <br>
	    <label>
	      <input name="colors" type="radio" value="blackOnWhite" v-model="history[editing].colors">
	  black on white
	    </label>
	    <br>
	    <label>
	      <input name="colors" type="radio" value="whiteOnBlack" v-model="history[editing].colors">
	      white on black
	    </label>
	  </td><td id="renderArea">
	    <div v-bind:style="renderAreaStyleWrapper(editing)">
	      <div v-bind:style="renderAreaStyle(editing)" >
		<div v-bind:style="slideStyle(editing)"
		     v-html="history[editing].html"></div>
	      </div>
	    </div>
	  </td><td id="displayArea">
	    <div v-bind:style="displayAreaStyleWrapper(displaying)">
	      <div v-bind:style="displayAreaStyle(displaying)" >
		<div v-bind:style="slideStyle(displaying)"
		     v-html="history[displaying].html"></div>
	      </div>
	    </div>
      </td></tr></table>
    </div>
    <script src="jquery-3.3.1.js"></script>
    <script src="present.js"></script>
  </body>
</html>
