<html>
  <head><script src="vue.js"></script></head>
  <body>
    <div style="display:block" id="presenter">
      <div id="controlPane" style="float:left">
	<input id="myFile" type="file" onchange="loadFile()"/>
	<textarea id="content" style="display:block"
		  v-model="raw" placeholder="Put text here."></textArea>
	<button v-on:click="updateDisplay">Update Display</button>
	<br>
	<label>scale
	  <span id="previewScaleText">{{previewZoom*100}}%</span>
	  <input id="previewScale" type="range" min=".01" max="1" step=".01"
		 v-model="previewZoom">
	</label>
	<br>
	<label>fontSize
	  <span id="fontSize">{{display.fontSize}} em</span>
	  <input type="range" min="1" max="10" step=".1" value="1" v-model="display.fontSize">
	</label>
	<br>
	<label><input name="style" type="radio" value="blackOnWhite" v-model="displayStyle">
	  black on white</label>
	<br>
	<label><input name="style" type="radio" value="whiteOnBlack" v-model="displayStyle">
	  white on black</label>
      </div>
      
      <div id="previewPane" v-bind:style="basePreviewStyle">
    	<div id="preview" class="content" v-bind:style="previewStyle" v-html="innerHTML"></div>
	
      </div>
    </div>
    <script src="jquery-3.3.1.js"></script>
    <script src="present.js"></script>
  </body>
</html>
