.blackOnWhite {padding:1em; margin:0; /* white-space:pre-wrap */} 
.blackOnWhite em.hilite {font-style:normal; background:yellow} 
.blackOnWhite em.bold {font-style:normal; color:red}
.whiteOnBlack {
    color:white;
    background-color:black;
    padding:1em;
    margin:0;
    caret-color: white;
    /* white-space:pre-wrap */
} 
.whiteOnBlack em.hilite {font-style: normal; color:yellow} 
.whiteOnBlack em.bold {font-style:normal;color:lightcoral}

.warning { background: #ffa; color: #444; border-top: red solid 1em; border-bottom: red solid 1em; padding: 1em; margin: 1em 0}

#markdownHelpToggle {display:none}
#markdownHelpToggle label{}
#markdownHelpToggle:checked ~ label { display:none }
#markdownHelpToggle:checked ~ div {
    display:block;
    padding:.2em;
    border: thick solid #aff;
    margin: 0 .1em .2em;
}
#markdownHelpToggle ~ div { display:none }
p {margin:0; margin-top: 1em }
td { vertical-align:top }
